    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    body {
        font-family: "Roboto", sans-serif;
    }
    
     :root {
        --primarycolor: #00aced;
        --lightgray: #f5f5f5;
        --darkgray: #dddae7;
        --mainblack: #525252;
        --letterSpacing: 0.5rem;
        --maintransition: all 3s ease-in-out:
    }
    
    a {
        text-decoration: none;
        display: inline;
    }
    /* navbar */
    
#header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  nav {
    flex: 0 0 auto;
  }
  
  #banner {
    flex: 1 0 auto;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li a {
    display: block;
    color: var(--primarycolor);
    background: transparent;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    transition: color 1s ease, background 1s ease, padding 1s ease;
  }
  
  nav ul li a:hover {
    color: #f5f5f5;
    padding-left: 60px;
    background: var(--primarycolor);
  }
  
  #nav-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 10px;
  }
  
  #nav-top h3 {
    font-size: 30px;
    padding: 5px;
    color: var(--primarycolor);
    border: 3px solid;
    transition: color 2s ease, background 2s ease;
  }
  
  #nav-top h3:hover {
    background: var(--primarycolor);
    color: #f5f5f5;
  }
  
  #menu-btn {
    padding: 5px;
    border: 2px solid var(--primarycolor);
    cursor: pointer;
    align-self: center;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    height: 5px;
    width: 35px;
    background-color:var(--primarycolor);
    margin: 5px 0;
    transition: transform 1s ease;
  }
  
  .turn .bar1 {
    transform: rotate(-45deg) translate(-7px, 6px);
  }
  
  .turn .bar2 {
    opacity: 0;
  }
  
  .turn .bar3 {
    transform: rotate(45deg) translate(-7px, -8px);
  }
  
  @media screen and (min-width:690px) {
    nav {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      padding: 0 20px;
    }
    #menu-btn {
      display: none;
    }
    nav ul {
      flex: 1 1 auto;
      display: flex!important;
      /*    important*/
      flex-wrap: wrap;
    }
    nav ul li {
      flex: 1 0 125px;
    }
    nav ul .icon {
      flex: 0 0 20px;
    }
    nav ul li .link-icon {
      color: #f5f5f5;
      background: #395e7e;
  
    }
    nav ul li .link-icon:hover {
      background: var(--primarycolor);
    }
    nav ul a {
      text-align: center;
  
    }
    nav ul a:hover {
      padding: 10px!important;
    }
    #nav-top {
      padding: 10px;
    }
  }
  
  /*###############Banner################*/
  
  #banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/banner-img.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #banner-box {
    color: #f5f5f5;
    text-align: center;
  }
  
  #banner-title {
    text-transform: capitalize;
    font-size: 60px;
  }
  
  .banner-underline {
    width: 200px;
    margin: 10px auto;
    border: 3px solid #2b98f0;
  }
  
  .banner-subtitle {
    margin: 20px 0 40px 0;
    text-transform: capitalize;
    font-size: 25px;
  }
  
  #banner-box a {
    display: inline-block;
    padding: 10px;
    font-size: 40px;
    text-decoration: none;
    color: #f5f5f5;
    background:var(--primarycolor);
    border: 3px var(--primarycolor);
    transition: background 3s ease, border 0.5s ease;
  
  }
  
  #banner-box a:hover {
    background: transparent;
    border: 3px solid #f5f5f5;
  }
  
  /*title*/
  
  .title {
    margin: 10px 0 40px 0;
    cursor: pointer;
  }
  
  .title-text {
    font-size: 60px;
    text-transform: capitalize;
    color: #575757;
  }
  
  .title-underline {
    width: 50px;
    border: 3px solid #2b98f0;
    transition: width 4s ease, border 4s ease;
  
  }
  
  .title:hover .title-underline {
    width: 200px;
    border: 3px solid red;
  }
    /* banner */
    /* skill center */
    .skills-center {
        min-height: 200vh;
    }
    
    .skills {
        background: var(--lightgray);
    }
    
    .skill-title h1 {
        font-size: 5rem;
        font-weight: 900;
        text-transform: capitalize;
        color: var(--mainblack);
        padding-left: 50px;
        padding-top: 50px;
    }
    
    .skill-underline {
        width: 50px;
        height: 8px;
        background: var(--primarycolor);
        margin-left: 50px;
        transition: ease-in-out 2s;
    }
    
    .skill-underline:hover {
        width: 300px;
        height: 8px;
        background: brown;
    }
    
    .skill-item {
        text-align: center;
        padding: 25px;
    }
    
    .skill-icon-text {
        text-align: center;
    }
    
    #icon {
        font-size: 4rem;
        color: var(--primarycolor);
        margin-bottom: 1rem;
    }
    
    .skill-icon-text h1 {
        font-size: 2rem;
        color: var(--primarycolor);
        text-transform: capitalize;
        margin-bottom: 1rem;
    }
    
    @media screen and (min-width:768px) {
        .skill-center {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .skill-item {
            flex: 50%;
        }
    }
    
    @media screen and (min-width:992px) {
        .skill-item {
            flex: 25%;
        }
    }
    /* skill center */
    /* filler */
    
    .filler {
        background: var(--darkgray);
        align-items: center;
    }
    
    .filler-item {
        text-align: center;
        padding: 50px;
    }
    
    .filler-info {
        text-align: left;
        padding: 20px;
    }
    
    .filler-video {
        text-align: center;
        padding: 20px;
    }
    
    .filler-info h1 {
        font-size: 3rem;
        margin-bottom: 10px;
        color: var(--lightgray);
        text-transform: capitalize;
    }
    
    .filler-info p {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 25px;
    }
    
    .filler-btn {
        font-size: 2.5rem;
        padding: 10px;
        color: var(--lightgray);
        background: var(--primarycolor);
    }
    
    @media screen and (min-width:768px) {
        .filler-center {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .filler-item {
            flex: 50%;
        }
    }
    /* filler */
    /* service-center */
    
    .services {
        background: var(--lightgray);
    }
    
    .service-center {
        padding: 50px 20px;
    }
    
    .service-info {
        display: flex;
        padding: 10px;
    }
    
    #service-icon {
        font-size: 3rem;
        color: var(--primarycolor);
        padding: 15px;
    }
    
    .service-text {
        text-align: start;
        padding: 15px;
    }
    
    .service-text h1 {
        color: var(--primarycolor);
        text-transform: capitalize;
        margin-bottom: 10px;
    }
    
    .service-text:hover h1,
    #service-icon:hover,
    .service-info:hover {
        color: var(--mainblack);
    }
    
    @media screen and (min-width:576px) {
        .service-center {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .service-item {
            flex: 50%;
        }
    }
    
    @media screen and (min-width:768px) {
        .service-item {
            flex: 33.33%;
        }
    }
    /* service-center */
    /* portfolio */
    .portfolio {
        padding: 40px;
        background: #c9c9c9;
      }
    .port-item {
        position: relative;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        max-height: 300px;
        border-radius: 10px;
        margin: 10px 0;
        overflow: hidden;
        /*  image overlay*/
    }
    
    .portfolio img {
        border-radius: 10px;
        width: 100%;
        display: block;
        transition: transform 2s;
        max-height: 300px;
        cursor: pointer;
        opacity: 1;
        transition: opacity 2s ease;
    }
    .portfolio img:hover{
        opacity: 0.4;
    }
    .image-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        margin-bottom: -100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background: rgb(147, 147, 147);
        transition: margin 2s ease;
      }
      .port-item:hover  .image-overlay{
          margin-bottom: 0;
      }
      .image-text h3 {
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 5px;
        color: #f5f5f5;
      }
      
    
      .image-overlay .fa {
        font-size: 30px;
        color: #2b98f0;
        padding: 10px;
        background: #f5f5f5;
        border-radius: 50%;
        transition: transform 2s ease, background 2s ease;
      }
      
      .image-overlay .fa:hover {
        transform: translateY(-10px);
        background: #082238;
      }
      .section-btn{
        text-align: center;
        margin: 20px;

      }
      .section-btn a {
        display: inline-block;
        padding: 0.5em;
        text-decoration: none;
        font-size: 30px;
        color: #f5f5f5;
        background: #2b98f0;
        transition: background 2s ease, color 2s ease;
      }
      
      .section-btn a:hover {
        color: #2b98f0;
        background: #f5f5f5;
      }
      
      .section-btn .fa {
        font-size: 40px;
        margin-right: 10px;
      }
      
      /*portfolio responsive*/
      
      @media screen and (min-width:576px) {
        .portfolio-center {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .port-item {
            flex: 0 0 calc(50% - 15px);
        }
      }
      
      @media screen and (min-width:768px) {
      
        .port-item {
            flex: 0 0 calc(33.33% - 15px);
        }
      }
      .numbers{
          background: var(--lightgray);
      }
      .numbers-center{
          margin: 20px;
          padding: 30px;
      }
      .num-info{
          padding: 20px;
        text-align: center;
        transition: transform 2s ease;
      }
      .num-info:hover{
        transform: translateY(-10%);
      }
      .numbers .fa{
          font-size: 50px;
          font-weight: 900;
          margin-bottom: 20px;
          color: var(--primarycolor);
          text-align: center;
      }
      .pro{
          font-size: 50px;
          font-weight: 900;
          margin-bottom: 10px;
      }
      .numbers h3{
          font-size: 30px;
          color: var(--primarycolor);
      }
      @media screen and (min-width:576px) {
        .numbers-center {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .numbers-item {
            flex: 0 0 calc(25% - 15px);
        }
      }
      .teams{
          background: var(--darkgray);
      }
      .team-center{
          margin: 30p

      }
      .team-item{
          padding: 0 15px 35px 15px;        
      }
      .img-container img{
        width: 100%;
        display: block;
        max-height: 300px;
      }
      .img-footer{
          background:#fff;
          display: flex;
          justify-content: space-between;
      }
      .img-footer h1{
          font-size: 25px;
          text-transform: capitalize;
          color: var(--primarycolor);
          padding: 20px 0 10px 20px;
      }
      .img-footer p{
          text-transform: uppercase;
          font-weight: bold;
          color: var(--mainblack);
          padding: 0 0 10px 20px;
      }
      .img-footer .fab{
          color: var(--mainblack);
          padding: 0 0 10px 20px;
      }
      .img-icon .fa{
          padding: 40px;
          font-size: 40px;
          font-weight: bolder;
          opacity: 0;
          color: var(--primarycolor);
          transition: transform 2s ease, opacity 2s ease;

         
      }
      .img-icon .fa:hover{
        opacity: 1;
        transform: rotate(-90deg);
        
      }
      @media screen and (min-width:768px) {
        .team-center {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .team-item{
            flex:50%;
        }
      }
      @media screen and (min-width:992px) {
        .team-center {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .team-item{
            flex:25%;
        }
      }
      .reviewe{
          background: var(--mainblack);
      }
      
      .rev-item{
          padding: 20px 50px;
      }
      .rev-title h1{
        font-size: 4rem;
        font-weight: bold;
        text-transform: capitalize;
        padding-left: 50px;
        padding-top: 50px;
          color: var(--darkgray);
      }

      
      .rev-img{
          display: block;
          justify-content: center;
          width: 100%;
          border-radius: 50%;

      }
      .rev-info{
          text-align: center;
      }
      #rev-title{
          color: var(--primarycolor);
          font-size: 20px;
          font-weight: bolder;
          padding: 20px 0 ;
      }
          #rev-text{
              font-size: 20px;
          text-transform: uppercase;
          font-weight: bolder;
          margin-bottom: 10px;
      }
      .rev-info p{
          font-weight: bolder;
          color: #fff;
      }
      @media screen and (min-width:576px) {
        .rev-center {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .rev-item{
            flex:50%;
        }
      }
      @media screen and (min-width:768px) {
        .rev-center {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .rev-item{
            flex:33.33%;
        }
      }
      .contact{
          background: var(--primarycolor);
      }
      .contact h1{
          color: var(--mainblack);
      }
      .contact-underline{
        width: 50px;
        height: 8px;
        background: var(--lightgray);
        margin-left: 50px;
        transition: ease-in-out 2s;
    }
    
    .contact-underline:hover {
        width: 300px;
        height: 8px;
        background: brown;
      }
      
      .contact-info{
          margin: 50px 0 0 30px;
      }
      .contact-info p{
          padding: 20px;
          font-size: 30px;
          color: var(--lightgray);
          justify-content: space-between;
      }
      .icon{
          padding-right: 20px;
      }
      .contact-form{
        margin: 50px 0 0 30px;
      }
      .form{
          padding:20px;
          text-transform: uppercase;
          color: var(--lightgray);
          font-size: 25px;
      }
      input[type=text],input[type=email],textarea {
        width: 80%;
        padding: 10px;
        margin-bottom: 5px;
        border: none;
        background: var(--primarycolor);
        border-bottom: 5px solid var(--lightgray);
      
      }
     
      .contact-form a {
        width: 80%;
        display: inline-block;
        padding: 20px;
        margin-bottom: 10px;
        text-decoration: none;
        font-size: 30px;
        color: #f5f5f5;
        background: #000;
        transition: background 2s ease, color 2s ease;
      }
      
      .contact-form a:hover {
        color: #2b98f0;
        background: #f5f5f5;
      }
      .contact-form .fa{
          padding-right: 40px;
      }
      @media screen and (min-width:768px){
          .contact-center{
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
          }
          .contact-item{
              flex: 50%;
          }
      }
      footer{
          background: var(--mainblack);
      }
      .futer-info{
          text-align: center;
          padding: 20px;
      }
      .futer-info a{
        font-size: 30px;
        padding: 20px;
        color: var(--lightgray);
        transition: color 2s ease;


      }
      .futer-info a:hover{
        color: var(--primarycolor);
        transform: translateY(-10%);
      }
      .futer-info h1{
          margin-top:20px;
          margin-bottom:20px;
          text-transform: uppercase;
          font-size: 20px;
      }